.input {
	border-radius: 2px;
	height: 36px;
	width: 100%;
	/* max-width: 349px; */
	background-color: transparent;
	border: 1px solid #f1eccb;
	font-family: Frank Ruhl Libre;
	font-size: 22px;
	color: #f1eccb;
	padding: 0 8px;
}

.input::placeholder {
	color: #f1eccb44;
}
