.phasePage {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	gap: 60px;
	overflow: hidden;
	background-image: url('../assets/images/grave-robber.png');
	background-repeat: no-repeat;
	background-position: center;
}

.line {
	background-color: white;
	width: 100%;
	height: 1px;
	transform: rotate(-30deg);
}

.phaseType {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.phaseType h1 {
	margin-bottom: -20px;
}

.dawnPhase {
	margin-right: auto;
	margin-left: max((100vw - 377px) * .2, 0px);
}

.nightPhase {
	margin-left: auto;
	margin-right: max((100vw - 377px) * .2, 0px);
}

.header {
	font-size: 120px;
}

.arrowIcon {
	transform: rotate(-90deg);
}

.constable {
	display: flex;
	align-items: center;
	font-family: IM FELL English SC;
	font-size: 18px;
	letter-spacing: 2px;
	color: #F1ECCB;
	accent-color: #3C7429;
	text-transform: lowercase;
}

.selectionPage {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 59px;
	align-items: center;
	overflow: hidden;
	padding: 0px 5px 40px;
}


.phaseTitle {
	font-size: 80px;
	letter-spacing: 4px;
}

.audience {
	font-size: 40px;
	letter-spacing: 4px;
}

.audienceAndInstructions {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.dawnBackground {
	background-image: url(../assets/images/black-cat.png);
	background-repeat: no-repeat;
	background-position: center;
}

.nightBackground {
	background-image: url(../assets/images/large-cat-eyes.png);
	/* background-image: url(../assets/images/cat-eyesl.png); */
	background-repeat: no-repeat;
	background-position: center;
}

.phaseBody {
	width: 100%;
	max-width: 580px;
	display: flex;
	justify-content: center;
	align-self: center;
	flex-wrap: wrap;
	gap: 20px;
	/* background-color: green; */
}